doctype html
html(lang="en")
    head
        title Home Page
    body
        header(style= "box-shadow: 0 1px 10px rgba(0,0,0,.1); font-size: 12px;")
        center(style= "background-color: rgba(202,153,152,0.65); padding-top: 15px; padding-bottom: 10px;")
        a.brand(href= "/")
        h1 史萊姆的第一個家
        p wazzzzzzzzzzzzzzzzzzzup!!
    footer All Rights Reserved By Paul Chen